<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="">See something?</h5>
                <p class="grey-text text-darken">Please contact me at <a href="mailto:royvanderzon@gmail.com">royvanderzon@gmail.com</a></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="grey-text text-darken-2 footer-p">&copy; 2017 <%= page.global.application_name %>, All rights reserved.</p>
        </div>
    </div>
</footer>