<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title><%= page.global.application_name %><% if(typeof page.title_head === 'string'){ %> - <%= page.title_head %><% }; %></title>
    <!-- Favicons-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/cms/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <!-- <link href="css/mat.css" media="screen,projection" rel="stylesheet" type="text/css"/> -->
    <link href="/cms/css/parralax.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="/cms/css/style.css" media="screen,projection" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css" />
    <link rel="stylesheet" href="/cms/css/quill.snow.css" />

</head>
<body>