body {
    background-color: $grey;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.color-black {
    color: $black;
}

.color-white {
    color: $white;
}

.bg-color-black {
    background-color: $black;
}

.bg-color-white {
    background-color: $white;
}

.wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper > nav {
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    display: block;
    float: left;
    background-color: $orange;
    box-shadow: $shadow;
    overflow-y: auto;
    .view-controls {
        display: block;
        width: 100%;
        padding: 15px;
        display: flex;
        /*flex-wrap: wrap;*/
        @media screen and (max-width: $screen-sm-max) {
            display: none!important;
        }
        button {
            border-width: 0px;
            width: 40%;
            display: block;
            margin: 0 auto;
            background-color: $grey;
            color: $white;
            font-weight: bold;
            padding: 6px 12px;
            cursor: pointer;
            opacity: 1;
            transition: 50ms all ease-in;
            border: 2px solid $grey;
            &:not(.pressed):hover {
                background-color: $orange;
                color: $grey;
            }
            &.pressed {
                opacity: .5;
                cursor: inherit;
            }
        }
    }
    @media screen and (max-width: $screen-md-max) {
        display: none!important;
    }
}

.wrapper > main {
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    display: block;
    float: left;
    background-color: $transparent;
    &:before {
        content: '';
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: .75;
        background-color: $grey;
        background-image: url('/site/images/bg.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    &:after {
        content: '';
        display: block;
        position: fixed;
        z-index: -2;
        background-color: $grey;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.modal {
    position: fixed;
    z-index: 9999;
    max-height: 90vh;
    .overlay {
        position: fixed;
        z-index: -1;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }
    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        padding: 1em;
    }
    iframe {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 1em;
        margin: 0 auto;
    }
    > main {
        display: block;
        padding: 1.5em;
        position: fixed;
        max-height: 70%;
        max-height: 70vh;
        overflow-y: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        min-height: 100px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 90%;
        width: 40em;
        background-color: white;
        box-shadow: $shadow;
        header {
            background-image: url("/cms/images/noimg.png");
            background-size: cover;
            background-position: center;
            display: block;
            min-height: 200px;
            position: relative;
            h2 {
                color: $white;
                background-color: rgba(0, 0, 0, 0.75);
                padding: 1em;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0;
            }
        }
    }
}

.wrapper > nav {
    .logo {
        padding: 25px 10px 0px 10px;
        margin: 0 auto;
    }
    ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            max-width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            position: relative;
            transition: 200ms all ease-in;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            &:hover {
                /*background-color: rgba(0,0,0,0.1);*/
                background-position: left bottom;
            }
            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.2);
            }
            &.active {
                background-position: left bottom;
            }
            .nav-item {
                padding-left: 15px;
                padding-right: 15px;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                img {
                    display: block;
                    max-width: 100%;
                    max-height: 80px;
                    width: auto;
                    max-width: 30%;
                    float: left;
                    padding: 15px;
                    @media screen and (min-width: $screen-xl-min) {
                        max-width: 20%;
                    }
                }
                a {
                    display: block;
                    text-transform: normal;
                    font-size: 1.5em;
                    text-decoration: none;
                    line-height: 70px;
                    width: 70%;
                    font-weight: 100;
                    color: $black;
                    float: left;
                    @media screen and (min-width: $screen-xl-min) {
                        max-width: 80%;
                    }
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (max-width: $screen-sm-max) {
    .wrapper nav {
        position: fixed;
        z-index: 9999;
        height: 100%;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
}

@media (min-width: $screen-md-min) {
    .wrapper nav {
        width: 25%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
    }
    .wrapper > main {
        width: 75%;
        float: right;
    }
}

@media (min-width: $screen-lg-min) {
    .wrapper nav {
        width: 20%;
    }
    .wrapper > main {
        width: 80%;
    }
}

@media (min-width: $screen-xl-min) {}

.hide {
    display: none;
    visibility: hidden;
}
