.curriculem-container {
    padding: 10px;
    min-height: 100%;
    min-height: 100vh;
    /*display: flex;*/
    flex-wrap: wrap;
    .types_explanation {
        list-style-type: none;
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        vertical-align: middle;
        width: 100%;
        background-color: $white;
        margin: 0;
        padding: 0;
        li {
            width: 48%;
            flex-basis: 48%;
            padding: 15px;
            margin: 1%;
            @media screen and (max-width: $screen-sm-max) {
                width: 90%;
                flex-basis: 90%;
            }
        }
    }
    .curriculum-inner {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .curriculem-row {
        background-color: $transparent;
        padding: 5px;
        border-top: 7.5px solid $transparent;
        border-bottom: 7.5px solid $transparent;
        flex-basis: 100%;
        width: 100%;
        display: flex;
        .curriculem-column {
            flex-basis: 100%;
            display: block;
            padding: 10px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-top: 7.5px $transparent solid;
            border-bottom: 7.5px $transparent solid;
            background-color: $white;
            .item-modal {
                cursor: pointer;
                /*transition: 200ms all ease-in;*/
                /*box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);*/
            }
            .item-modal:hover {
                /*box-shadow: $shadow;*/
            }
            .curriculem-item {
                display: block;
                /*max-height: 50px;*/
                /*margin-bottom: 5px;*/
                /*margin-top: 5px;*/
                padding: 10px;
                border-top: 2.5px solid $white;
                border-bottom: 2.5px solid $white;
                position: relative;
                transition: 200ms all ease-in;
                &.supress-item {
                    opacity: .15;
                }
                .info-icon {
                    position: absolute;
                    opacity: .5;
                    display: block;
                    color: $black;
                    font-family: serif;
                    font-weight: bold;
                    border-radius: 100%;
                    height: 15px;
                    width: 15px;
                    line-height: 15px;
                    /*box-shadow: $shadow;*/
                    cursor: pointer;
                    text-align: center;
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
    .curriculum-header {
        display: block;
        padding: 5px;
        .header-inner {
            background-color: $white;
            padding: 1.5em;
        }
        h2,
        p {
            margin: 0;
        }
        h2 {
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        height: auto;
        min-height: 0px;
        padding-bottom: 15px;
        &:last-child {
            padding-bottom: 25px;
        }
        .curriculum-header {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom-width: 0px;
            padding-top: 10px;
            /*border-top-width: 15px;*/
        }
        .curriculem-row {
            flex-wrap: wrap;
            padding-bottom: 0px;
            border-bottom-width: 0px;
            .empty-curriculem-item {
                display: none!important;
            }
        }
    }
}

.curriculem-wrapper.list-view {
    margin: 0 auto;
    display: block;
    position: relative;
    max-width: 800px;
    float: none;
    .curriculem-container {
        height: auto;
        min-height: 0px;
        padding-bottom: 15px;
        &:last-child {
            padding-bottom: 25px;
        }
        .curriculum-header {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom-width: 0px;
            padding-top: 10px;
            /*border-top-width: 15px;*/
        }
        .curriculem-row {
            flex-wrap: wrap;
            padding-bottom: 0px;
            border-bottom-width: 0px;
            .empty-curriculem-item {
                display: none!important;
            }
            .curriculem-column {
                .curriculem-item {
                    max-height: 50px;
                }
            }
        }
    }
}
